@import 'src/styles/variables';

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.new-customer-button {
  background-color: $primary-color;
  color: $white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.new-customer-button:hover {
  background-color: darken($primary-color, 10%);
}
