body img {
    border-left: #000 2px solid;
}

body h1 {
    font-family: 'Comic Sans MS';
    color: white;
    background-color: gray;
    text-decoration: underline;
    height: 50px;
    margin-top: 0px;
}

body ul {
    list-style-type: none;
    padding-left: 0px;
}

body h2 {
    font-size: 20px;
}

body p1 {
    font-style: italic;
}

body p2 {
    line-height: 150px;
}