<router-outlet></router-outlet>
<button (click)="isVisible = !isVisible">
    {{ title }}
    <img [src]="imageUrl" alt="url">
    Toggle isVisible {{ isVisible }}
</button>

<div>
    This div is {{ isVisible }}
</div>

<div *ngIf="isVisible">
    THIS IS CONDITIONALLY VISIBLE
</div>

<ul>
    <li *ngFor="let item of items; let i = index">
    {{ i + 1 }}. {{ item }}
    </li>
</ul>

<div [ngClass]="{'active-class': isVisible, 'inactive-class': !isVisible}">
    This div will change based on isVisible
</div>

<button (click)="toggleStyle()">
    Toggle Style
</button>

<div [ngStyle]="{'background-color': backgroundColor, 'font-size': fontSize}">
    This div has dynamic styles
</div>

<button (click)="toggleColor()">
    Toggle color
</button>

<div [style.color]="primaryColor">
    The text changes color 
</div>

<!-- <app-test [message]=""></app-test> -->

<app-navbar></app-navbar>
<p>hello world!</p>